# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Database files
*.db

# Static files
static/

# Media files
media/

# Translations
*.mo

# Virtual environment
venv/

# Django migrations
*/migrations/

# Django static files
*/staticfiles/  

# Django media files
*/mediafiles/

# Django translations
*/locale/

# Virtual environment
venv/

# Node.js dependencies
node_modules/

# Log files
*.log

#.DS_Store
/.DS_Store